.footer {
	padding: 60px 0;
	background: #020c1b;
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 1000px;
		margin: 0 auto;
		text-align: center;
	}
	&__copyright {
		margin-top: 40px;
		font-size: 14px;
		line-height: 1.5;
		color: #d4d2d2;
	}
	&__socials {
		margin-top: 20px;
		display: flex;
		gap: 20px;
	}
}
