.movieItem {
	position: relative;
	&__title {
		color: #fff;
		text-decoration: none;
		font-size: 28px;
		margin-bottom: 15px;
	}
	&__rating {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 50px;
		right: -25px;
		width: 60px;
		height: 60px;
		background-color: #fff;
		border-radius: 50%;
		color: #000;
		font-size: 26px;
		font-weight: 800;
		&_high {
			color: rgb(11, 144, 11);
		}
		&_medium {
			color: rgb(244, 177, 19);
		}
		&_low {
			color: rgb(200, 28, 19);
		}
	}
}
