.movieList {
	padding-top: 120px;
	padding-bottom: 100px;
	&__title {
		text-align: center;
		font-weight: 700;
		font-size: 42px;
		text-transform: uppercase;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 70px;
		max-width: 1050px;
		margin: 0 auto;
		margin-top: 80px;
	}
	a {
		text-decoration: none;
	}
	.btnAdd {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin: 0 auto;
		margin-top: 30px;
		height: 40px;
		text-decoration: none;
		border-radius: 20px;
		background-color: #d60505;
		color: #fff;
		font-size: 20px;
		font-weight: 700;
		transition: 0.25s all;
		width: 40%;
		&:hover {
			background-color: #b60808;
		}
	}
}
